/* CP17059-ejercicio2.css   CP17059  */
/* CP17059-ejercicio2.css   CP17059  */
pais {background-color:rgb(34, 34, 116);}
moneda {background-color:rgb(35, 119, 52); display:block;} 
codigo {color:white; display:inline;} 
idioma {color:yellow; display:inline;}
departamento {color:yellow;font-size:1cm; display:none;}
