/* CP17059-ejercicio2.css   CP17059  */
/* CP17059-ejercicio2.css   CP17059  */
pais {background-color:rgb(34, 34, 116);}
departamento {background-color:rgb(35, 119, 52); display:block;} 
cabecera {color:white; display:inline;} 
habitantes {color:yellow; display:inline;}
altura {color:yellow;font-size:1cm; display:inline;}
